# IDEs & OS Junk
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Microsoft/
out/

# Binaries
bin/
*.exe
*.out

# GO Specific
.gocache/
.gopath/

# GO dependencies
vendor/

# Env
.env

# Logging
*.log
logs/
temp/